.LevelEditor {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.TileGridHolder {
    background-color: black;
    width: 640px;
    height: 480px;
    margin: 0 auto;
    position: relative;
}

.TileGrid {
    width: 640px;
    height: 480px;
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.Tile {
    flex-shrink: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../../img/ss.png)
}

.LayerTab {
    position: absolute;
    height: 2rem;
    top: -2rem;
    user-select: none;
    padding: 0 2rem 0 1rem;
}

.Mob {
    position: absolute;
    z-index: 10;
}

.Mob img {
    position: relative;
    left: -50%;
    top: 12px;
}

.MobPath {
    position: absolute;
    left: 0;
    top: 0;
}