.MobSidebar {
    position: absolute;
    top: 0;
    background-color: gray;
    height: 100%;
    transition: right 0.1s;
}

.MobSidebar > ul {
    width: 15rem;
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

.MobSidebar > ul > li {
    padding: 1rem;
    cursor: pointer;
    background-color: gray;
}

.MobSidebar > ul > li:nth-child(even) {
    background-color:#666666;
}

.CollapseMobSidebar {
    position: absolute;
    top: 1rem;
    left: -2rem;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: grey;
    border-radius: 0.5rem 0 0 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    user-select: none;
}