* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 2rem 1fr;
  grid-template-columns: 100%;
  overflow-x: hidden;
}

.ContentContainer {
  height: 100%;
  position: relative;
}